/* COLORS */
$darkblue: #19274A;
$lightblue: rgba(0, 178, 255, 0.8);
$red: #EF4343;
$white: #ffffff;
$black: #000000;
$lightgrey: rgba(0, 0, 0, 0.6);
$shadow: rgba(0, 0, 0, 0.25);
$lightwhite: rgba(255, 255, 255, 0.1);
$lighterwhite: rgba(255, 255, 255, 0.2);