@import './layouts';
@import './typography';
@import './inputs_and_buttons';
@import './variables';


html, * {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: $darkblue;

    #app {
        height: inherit;
        width: inherit;

        main {
            height: inherit;
            width: inherit;
        }
    }
}